<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: header">

</head>

<body>

<div th:replace="fragments/commons :: navbar">

</div>


    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>About MyStore - Your Online Shopping Destination</h1>
                    <p>Welcome to MyStore, your premier online shopping destination for all your needs. At MyStore, we're dedicated to delivering an unparalleled shopping experience that's second to none.</p>

                    <h2>Our Story</h2>
                    <p>Our journey began with a passion for quality and a commitment to exceptional service. From our humble beginnings, MyStore has blossomed into a trusted retail powerhouse, all thanks to customers like you.</p>

                    <h2>What Makes Us Unique</h2>
                    <p>MyStore stands out by offering a vast range of high-quality products, carefully selected to cater to your every desire. Whether you're in search of the latest fashion trends, cutting-edge electronics, home essentials, or one-of-a-kind gifts, we have it all under one digital roof.</p>

                    <h2>Quality You Can Rely On</h2>
                    <p>Quality and reliability are at the core of MyStore. We collaborate closely with reputable suppliers and brands to ensure that each product meets our stringent quality standards. Your trust in us motivates our ongoing pursuit of excellence.</p>

                    <h2>Customer-Centric Service</h2>
                    <p>Our dedicated customer support team is here to assist you at every turn. Have questions about a product or need help with your order? We're just a click or call away. Your satisfaction fuels our commitment to making your shopping journey memorable.</p>

                    <h2>Shop Securely and Privately</h2>
                    <p>Your security and privacy are paramount to us. We employ advanced security measures to safeguard your data and ensure secure transactions. Shop with confidence, knowing that your personal information is protected.</p>


                    <h2>Start Your Shopping Adventure</h2>
                    <p>Ready to explore our extensive product selection? Embark on your shopping adventure with MyStore today. Discover the convenience, quality, and outstanding service that make MyStore your ultimate online shopping destination.</p>

                    <p>Thank you for choosing MyStore. We eagerly anticipate serving you and becoming your preferred online store for years to come.</p>

                    <p>Happy Shopping!</p>
                </div>
                <div class="col-md-4">
                    <img src="/images/about-hero.svg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>

</body>

</html>