<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: header">

</head>

<body>

<div th:replace="fragments/commons :: navbar">

</div>




<div class="carousel-item active">
    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our new products</h1>
                    <p>
                        Discover the newest trends, styles, and innovations in our product range.
                        Stay ahead of the curve and explore these recently added products that offer the latest in quality, design, and functionality.
                    </p>
                </div>
            </div>
            <div class="row">
                <div th:each="product : ${latestProducts}" th:object="${product}" class="col-12 col-md-4 mb-4">
                    <div class="card h-100 product-card">
                        <a th:href="@{/products/details/{id}(id = *{id})}">
                            <img th:src="*{imageUrl}" class="card-img-top align-image-center" alt="...">
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between align-items-start">
                            <a th:href="@{/products/details/{id}(id = *{id})}" class="h2 text-decoration-none text-dark" th:text="*{name}">Gym Weight</a>
                            <p class="card-text text-left" th:text="${product.description.length() > 100 ? #strings.substring(product.description, 0, 200) : description} + '...'">
                                Description
                            </p>
                            <ul class="list-unstyled text-left" th:text="${product.price} + ' Lv.'">$240.00</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



</body>

</html>