<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons :: header">

</head>

<body>

    <div th:replace="~{fragments/commons :: navbar}">

    </div>
    <div class="carousel-item active">
        <img src="/images/background.jpg" class="img-fluid" alt="First slide">
        <div class="carousel-caption d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="container text-center">
                <h1 class="text-white display-2 mb-3 animated fadeInRight" style="margin-top: -500px;">Welcome to MyStore</h1>
                <div class="d-flex justify-content-center"> <!-- Center-align buttons in a single row -->
                    <a th:href="@{/users/login}" class="me-2">
                        <button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Login</button>
                    </a>
                    <a th:href="@{/users/register}" class="ms-2">
                        <button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight">Register</button>
                    </a>
                </div>
            </div>
        </div>
    </div>





</body>

</html>