<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: header">

</head>

<body>

<div th:replace="fragments/commons :: navbar">

</div>


<div class="bg-light">
    <div class="container full-height-container">
        <div class="row">
            <div class="col-md-6 main-form text-center" style="margin: 0 auto;">
                <h2 class="text-center text-dark" style="margin-top: 30px;">Add Product</h2>
                <form th:method="post"
                      th:object="${productModel}"
                      th:action="@{/products/add}"
                      id="form">

                    <!-- Name -->
                    <div class="form-group">
                        <label for="name" class="text-dark" style="font-weight: bold !important;">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name"
                               th:field="*{name}"
                               th:errorclass="is-invalid">
                        <p class="invalid-feedback errors alert alert-danger"
                           th:errors="*{name}">Product name is required.</p>
                    </div>

                    <!-- Price -->
                    <div class="form-group">
                        <label for="price" class="text-dark font-weight-bold" style="font-weight: bold !important;">Price</label>
                        <input id="price" type="number" min="0" step="0.10" class="form-control" placeholder="Suggested price"
                               th:field="*{price}"
                               th:errorclass="is-invalid"
                        >
                        <p class="invalid-feedback errors alert alert-danger" th:errors="*{price}">
                            Suggested price is required.
                        </p>
                    </div>

                    <!-- Category -->
                    <div class="form-group">
                        <label class="text-center text-dark font-weight-bold" for="category" style="font-weight: bold !important;">Category</label>
                        <select th:field="*{category}"
                                th:errorclass="is-invalid"
                                id="category" class="form-control">
                            <option th:each="category : ${categories}"
                                    th:value="${category}"
                                    th:text="${category}"
                                    th:selected="${category} == *{category}">
                                - Select Category -
                            </option>
                        </select>
                        <p class="invalid-feedback errors alert alert-danger" th:errors="*{category}">
                            Category is required.
                        </p>
                    </div>

                    <!-- Quantity -->
                    <div class="form-group">
                        <label for="quantity" class="text-dark font-weight-bold" style="font-weight: bold !important;">Quantity</label>
                        <input th:field="*{quantity}" th:errorclass="is-invalid"
                               id="quantity" type="number" min="0" max="1000" step="1" class="form-control" placeholder="Quantity">
                        <p class="invalid-feedback errors alert alert-danger" th:errors="*{quantity}">
                            Quantity is required.
                        </p>
                    </div>

                    <!-- Description -->
                    <div class="form-group">
                        <label class="text-dark font-weight-bold" for="description" style="font-weight: bold !important;">Description</label>
                        <textarea th:field="*{description}" th:errorclass="is-invalid"
                                  id="description" type="textarea" class="form-control" style="width: 100%;" rows="3" placeholder="Description"></textarea>
                        <p class="invalid-feedback errors alert alert-danger" th:errors="*{description}">
                            Description is required.
                        </p>
                    </div>


                    <div class="text-center" style="margin-top: 20px;">
                        <input type="submit" class="btn btn-info btn-lg" value="Add Product">
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>







</body>

</html>