<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: header">

</head>

<body>

<div th:replace="fragments/commons :: navbar">

</div>

<div class="align-successful-order">
    <div class="card-successful-order">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Thank you for your order</p>
    </div>
</div>


</body>
</html>